.col1bak{
    background-color: red;
}

.rota{
    background-color: red;
    width: 50px;
    height: 50px;
    transform: skew(-30deg, 10deg);
}

.rota:hover{
    transform: scaleX(1.7);
}

@keyframes joy{
    0% {background-color: blue; left:0px; top:0px;}
    25%{background-color: yellow; left:150px; top:0px;}
    50%{background-color: green; left: 150px; top:150px}
    75%{background-color: black; right: 150px; top:0px}
    100%{background-color: cyan; left: 150px; top: 0px;}
}

.transit{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: blue;
    transition: width 10s;
    animation-name: joy;
    animation-iteration-count: 3;
    animation-duration: 5s;
}

.transit:hover{
    width: 300px;
}