* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scroll-margin: 120px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    background-color: rgba(247, 245, 245, 1);
    box-shadow: rgb(72, 70, 70) 0px 2px 150px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header nav {
    display: flex;
    align-items: center;
    gap: 30px;
    color: black;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 0.7px;
}

header nav a {
    color: gray;
    transition: all 500ms ease;
}

header nav a:hover {
    color: #58b49e;
}

header nav a:focus {
    color: #58b49e;
}

a {
    text-decoration: none;
    color: black;
}

header nav > button {
    padding: 10px 15px;
    border-radius: 20px;
    background: none;
    border: 2px solid blue;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.5px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo > img {
    height: 80px;
    width: 80px;
}

header .logo > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

header .logo p:nth-child(1) {
    font-size: 22px;
    font-weight: 700;
    color: #58b49e;
}

header .logo p:nth-child(2) {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    header nav {
        display: none;
    }
}

/* Header Style Ends Here */

.img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.charity{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(33, 85, 90);
}

.ms-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.ms-images div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 19%;
    height: max-content;
    padding: 40px 20px;
    border-radius: 10px;
}

.ms-images div > p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color:  rgb(33, 85, 90);
    border-radius: 10px;
}

.ms-images > div:hover {
    box-shadow: rgb(68, 68, 68) 0px 1px 15px 1px;
    transform: scale(0.8);
    transition: all 300ms ease;
}

@media screen and (max-width: 700px) {
    .ms-images {
        flex-direction: column;

    }

    .ms-images div {
        width: 100%;
    }
}

.head{
    font-size: 40px;
    font-weight: 600;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    color: rgb(33, 85, 90); 
}

.head1{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* About Section Starts Here */

.profile {
    display: flex;
    align-items: center;
    background-color: rgba(0, 102, 255, 0.749);
    padding: 50px;
    height: 100%;
}

.img6 img {
    max-width: 40vw;
    height: 80vh;
    border-radius: 15px;
    object-fit: cover;
}

.donation {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 20px;
}

.mission-holding {
    display: flex;
    align-items: start;
    gap: 40px;
}

.mid-flexdiv {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    gap: 10px;
}

.head2{
    font-size: large;
}

.mid-last-flexdiv {
    background-color: white;
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission{
    font-size: 25px;
    font-weight: 600;
    color: rgb(33, 85, 90); 
}

.year{
    font-size: 25px;
    font-weight: 700; 
    color: rgb(33, 85, 90); 
}

.century{
    font-size: 25px;
    font-weight: 700;
    color: rgb(33, 85, 90); 
}


@media screen and (max-width: 700px) {
    .profile {
        flex-direction: column;
    }
    
    .profile .img6 img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .mission-holding {
        flex-direction: column;
        align-items: center;
    }

    .mission-holding div {
        width: 100%;
        text-align: center;
    }
    .mid-flexdiv {
        width: 100%;
        text-align: center;
        align-self: center;
    }
}


/* About Section Ends Here */

/* Sandy Chan Starts here */

.img7 img {
    width: 100%;
    height: 70%;
    border-radius: 15px;
    object-fit: cover; 
}

.section{
    display: flex;
    /* justify-content: space-around; */
    padding: 50px 100px;
    gap: 50px;
    max-width: 70%;
    margin: 10px auto;
}

.section :nth-child(2) {
    max-width: 100%;
    width: max-content;
}

.sandy {
    font-size: 45px;
    font-weight: 700;
    /* margin-top: 50px;  */
    color: rgb(128, 128, 128);
    width: max-content;
}

.cfp {
    font-size: 17px;
    color: rgba(128, 128, 128, 0.881);
    margin-top: 10px;
}

.lorem{
    /* margin: 20px 0; */
    text-align: left;
    margin-top: 30px;
    font-size: 17px;
    color: rgba(128, 128, 128, 0.881);
    line-height: 30px;
    max-width: 83%;
}

@media screen and (max-width: 700px) {
    .section {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .lorem {
        max-width: 100%;
    }
    
    .img7 img {
        width: 400px;
        height: 500px;
    }
}
    
/* Sandy Chan Ends here*/

/* Make Impact Starts Here */

.sec{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(161, 211, 220);
    padding: 10px 0;
    align-items: center;
    height: 50vh;
}

.sec1{
    font-size: 40px;
    font-weight: 700;
    /* margin-top: 50px;  */
    color: rgb(33, 85, 90); 
    width: max-content;
}

.sec2{
    display: flex;
    gap: 20px;
    align-items: center;
}

.sec2-button{
    background-color: rgb(33, 85, 90);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
}

.sec2-button a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .sec {
        flex-direction: column;
    }
    .sec2 {
        flex-direction: column;
    }
}

/* Make Impact Ends Here */

/* About causes section starts here */

.causes-section { 
    margin: 100px 0;
}

.causes-maindiv {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.causes-div {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    transition: all 500ms ease;
}

.causes-div:hover {
    box-shadow: gray 1px 1px 17px;
}

.causes-div img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.causes-div-middiv {
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.causes-div button {
    padding: 15px 0;
}

.poverty{
    font-size: 20px;
    font-weight: 600;
    color: rgb(33, 85, 90);
    margin: 20px 0px;
}

.our-causes{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: rgb(33, 85, 90);
    margin: 10px 0;
}

/* 
.causes-div{
    border-top: 30px;
} */

.cont{
    line-height: 25px; 
    margin-bottom: 10px;
}

.donate{
    background-color: grey;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}


@media screen and (max-width: 700px) {
    .causes-maindiv {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    
    .causes-div {
        width: 80%;
    }
}

/* About causes section ends here */

/* About form and volunteer starts here  */



/* About form and volunteer ends here */

.first-form {
    padding: 50px;
    max-width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
}

.first-form-div {
    max-width: 100%;
}

.first-form-div h3 {
    font-size: 50px;
    font-weight: 700;
    margin: 10px 0;
}

.first-form form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    gap: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.first-form-flexdiv {
    display: flex;
    gap: 15px;
}

.first-form form input {
    padding: 15px 25px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;
}

.first-form form textarea {
    width: 100%;
    padding: 20px 25px 50px 25px;
    box-sizing: border-box;
    border-radius: 10px;
    resize: vertical;
    max-height: 300px;
    min-height: max-content;
    scrollbar-width: none;
    background-color: transparent;
}

.first-form form button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    transition: all 700ms ease;
    background-color: gray;
    color: white;
    cursor: pointer;
}

@keyframes spinner {
    10% {transform: rotate(36deg);}
    20% {transform: rotate(72deg);}
    30% {transform: rotate(108deg);}
    40% {transform: rotate(144deg);}
    50% {transform: rotate(180deg);}
    60% {transform: rotate(216deg);}
    70% {transform: rotate(252deg);}
    80% {transform: rotate(288deg);}
    90% {transform: rotate(324deg);}
    100% {transform: rotate(360deg);}
}

.first-form form button:hover {
    background-color: lightblue;
}

.first-form-2nd-div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.first-form-2nd-div img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    max-width: fit-content;
}

.about-volunteering {
    font-size: 30px;
    font-weight: 600;
}

.about-lorem {
    /* width: 50%; */
    letter-spacing: 0.7px;
    font-size: 14px;
}

@media screen and (max-width: 979px) {
    .first-form {
        flex-direction: column;
        padding: 50px 30px;
    }
}

/* About section1 starts here */

.main-holder {
    display: flex;
    padding: 75px;
    gap: 50px;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 50%;
}

.news{
    color: grey;
    margin: 20px 0px;
    font-size: 50px;
    font-weight: 500px;
}

.lifestyle {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.lifestyle img{
    height: 400px;
    width: 100%;
    object-fit: cover; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.area{
    margin: 20px 0px;
}

.lorem-img1 p {
    line-height: 20px;
    margin-bottom: 30px;
}
.lorem-img2{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.lcd{
    background-color: grey;
    /* width: 100%; */
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.date1 {
    margin-top: 20px;
}

.date2{
    margin-top: 20px;
}

.lorem-img2 img{
    height: 400px;
    width: 100%;
    object-fit: cover; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.lcd2{
    background-color: grey;
    /* width: 100%; */
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.lorem-img2 p{
    line-height: 20px;
}

.food-donation{
    margin: 30px 0px;
}

.vel p{
    line-height: 20px;
}

.search{
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
}

.recent{
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0px 20px 0px;
    color: green;
}

/* About section2 starts here */

.section21{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    align-items: start;
}

.section21 img{
    height:100px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.fd-area{
    display: flex;
    flex-direction: column;
}

.section22 img{
    height:100px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.section22{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.vol-clean{
    display: flex;
    flex-direction: column; 
}

.water{
    color: green ;
    margin: 20px 0px;
}

.blb-span {
    background-color: gray;
    border-radius: 15px;
    width: fit-content;
    padding: 3px 7px;
    font-size: 12px;
    color: white;
}

.categories > ul >li{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 13px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.list a{
    margin: 10px 5px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
}

.form-div{
    background-color: lightblue;
    margin-top: 50px;
    padding: 30px 0;
    border-radius: 20px;
}

.hd{
    font-size: 30px;
    font-weight: 600;
    /* padding: 20px; */
    color: green;
}

.newsletter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter input{
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
    border: 1px solid black;
}

.form-div button{
    padding: 10px 15px;
    text-align: center;
    border-radius: 20px;
    width: 100%;
    background-color: grey;
    border: transparent;
    transition: all 500ms ease;
}

.form-div button:hover {
    background-color: yellow;
}

@media screen and (max-width: 700px) {
    .main-holder {
        flex-direction: column;
        padding: 30px;
    }

    .section1 {
        max-width: 100%;
    }

    .lifestyle {
        width: 100%;
    }
    /* .lifestyle image12 {
        width: 100%;
    }  */
    .lorem-img1 {
      width: 100%;
    }
    .lorem-img2 {
      width: 100%;
    }
}

/* About section ends here */

/* About another-sec starts */

.another-sec{
    background-color: lightblue;
    padding: 30px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.customer{
    font-size: 50px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.sed{
    /* margin: 20px; */
    line-height: 20px;
    text-align: center;
    font-size: 25px;
    /* gap: 20px; */
}

.omg{
    line-height: 20px;
    text-align: center;
    font-size: 25px;
    /* gap: 20px; */
}

.sedomg{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quotes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.quotes > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.thomas{
    background-color: green;
    padding: 10px 20px;
    border-radius: 30px;
}

@media screen and (max-width: 700px) {
    .customer {
        font-size: 25px;
        font-weight: 700;
    }

    .sedomg {
        padding: 0 25px;
    }

    .sed, .omg {
        font-size: 20px;
        text-align: center;
    }
}

/* About another-sec ends here */

.formheader{
    font-size: 50px;
    font-weight: 550;
    color:grey ;
    margin: 10px 0;
}

.formheader{
    color: black;
}

.get{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gt img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover; 
}

.gt{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.gt2{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.bf-contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.bf-contact hr {
    color: gray;
    width: 90%;
}

.con-info p{
    margin: 10px 0;
}

.con-info p b{
    font-size: 30px;
    font-weight: 500;
}

.bf-contact .bf-button{
    padding: 13px 27px;
    border-radius: 30px;
    border: none;
    margin: 0 !important;
    background-color: gray;
    color: white;
    font-size: 17px;
}

.second-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.second-form form {
    background: lightblue;
    padding: 45px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.second-form form div {
    display: flex;
    gap: 10px;
}

.second-form form input {
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-self: center;
    width: 100%;
    box-sizing: border-box;
}

.second-form form textarea {
    padding: 15px 25px 65px 25px;
    border-radius: 10px;
    border: 1px solid black;
    resize: none;
}

.second-form textarea {
    width: 100%;
    padding: 0 10px;
}

.second-form form button {
    width: 100%;
    border: none;
    padding: 15px 25px;
    background-color: white;
    border-radius: 15px;
    transition: all 700ms ease;
}


.second-form form button:hover {
    background-color: lightgrey;
}

.second-form form input:focus,
.second-form form input:active {
    outline: none;
    border: 1px solid black;
}

.imglogo img{
    height: 80px;
    width: 80px;
}

@media  screen  and (max-width: 700px)  {
    .second-form {
        flex-direction: column-reverse !important;
        padding: 30px !important;
        gap: 100px;
    }

    .bf-contact {
        width: 100%;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #44525d;
    /* height: 50vh; */
    color: white;
    bottom: 0;
}

.footer-top-flexdiv {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 50px 70px;
    height: 40vh;
}

.footer-nav-flexdiv {
    display: flex;
    gap: 100px;
    align-items: center;
}

.footer-nav-flexdiv > :nth-child(1) {
    align-self: flex-start;
}

.footer-bottom-flexdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background-color: #5a6f80;
    bottom: 0;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

footer a {
    color: white;
    transition: all 500ms ease;
    letter-spacing: 1px;
    font-size: 15px;
}

footer a:hover {
    color: #58b49e;
    cursor: pointer;
}

footer nav a button {
    border: none;
    background-color: #5a6f80;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

footer div h2 {
    color: #58b49e;
}

@media screen and (max-width: 700px) {
    footer {
        padding: 30px 0 0 0;
        flex-direction: column;
        height: max-content;
    }

    .footer-top-flexdiv {
        flex-direction: column;
        height: max-content;
        align-items: start;
    }

    .footer-nav-flexdiv {
        flex-direction: column;
        align-items: start;
    }

    .footer-bottom-flexdiv {
        flex-direction: column;
        height: max-content;
    }
}


/* News Detail  */

.news-bg-img {
    background: url(../images/image13.png);
    height: 60vh;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-bg-img {
    background: url(../images/image13.png);
    height: 60vh;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nd {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.nl {
    font-size: 50px;
    font-weight: 700;
    color: white;  
}

.news-detail {
    background-color: lightblue;
    padding: 20px 10px;
    margin-bottom: 50px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nwd {
    font-size:20px;
    font-weight: 600;
    /* text-align: center; */
}

.nw-detail {
    display: flex;
    flex-direction: row;
}

.nw-detail img {
    height:200px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.borderline {
    margin: 50px 0;
    width: 100%;
}

.kind-heart img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.news_detailing {
    display: flex;
    flex-direction: column;
}

.khnc2 {
    margin-left: 50px;
}

.kind-heart{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.kindheart-flexdiv {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.o {
    gap: 50px;
}

.ychtextarea {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 30px 80px 30px;
    background-color: lightblue;
    resize: vertical;
    max-height: 300px;
    min-height: max-content;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.comment-button {
    padding: 10px 15px;
    text-align: center;
    border-radius: 20px;
    width: 50%;
    background-color: grey;
    border: transparent;
    transition: all 500ms ease;
    font-size: 16px;
    margin-top: 10px;
}

.comment-button:hover {
    background-color: rgb(106, 165, 60);
}
